.square {
    text-align: center;
    width: 80px;
    height: 80px;
}

.even-color {
    background: rgb(118, 150, 86);
}

.odd-color {
    background: rgb(238, 238, 210);
}

.select-color {
    background: red;
}