<div class="board">
    <div class="row"
         *ngFor="let row of board.board; index as j">
        <div class="column"
             *ngFor="let column of row; index as k">
             <app-square
                [row]="j"
                [column]="k"
                [piece]="board.board[j][k]"
                [selectedId]="selectedId"
                [prevSelectedId]="prevSelectedId"
                [id]="j.toString() + k.toString()"
                (selected)="onSelect(j.toString() + k.toString())"
             ></app-square>
        </div>
    </div>
</div>